.frame{
    text-align: center;

}

.navbar-text {
    float: right;
}

/* .start-btn{ 
  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

} */
.intro {
  text-align: center;
  background-color:blue;
}

#start {display:block;
  width:100px;
  margin:0 auto;
  padding:10px 20px;
font-size:14px;
line-height:20px;
background-color:#eba73c;
text-align:center;
color:#fff;
border-radius:5px;
text-decoration:none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}
    



.maintext {
    font-weight: bolder;
    font-size: xx-large;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.card-body {
    display: block;
}

.btn-group button {
    background-color:blue; /* Green background */
    border: 10px solid white; /* Green border */
    color: white; /* White text */
    padding: 30px 100px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 20%; /* Set a width if needed */
    display: block; /* Making the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;